*{
    font-family:"Roboto";
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
    list-style-type: none;
}
html{
    font-size: 0.732vw;
    /* font-size: 10px; */
} 
a{
    text-decoration: none;
}
body{
    min-width: 32rem;
    max-width: 192rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
} 
.container{
    max-width: 106rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    position: relative;
}
.title__main_header{
    font-size: 8rem;
    font-weight: 100;
    
}
.title__main_text{
    font-size: 5rem;
    font-weight: normal;
    margin-top: 0rem;
}
.movie{
    margin-top: 12.5rem;
}
.movie-list__header{
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    color: rgb(37,37,37);
}
.movie-list__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-top: 7.7rem;
}
.movie-list__table th{
    background-color: rgb(163,204,64);
    color: rgb(255,255,255);
    font-size: 3rem;
    height: 7.5rem;
    /* padding-left: 7rem; */
    position: relative;
}
.movie-list__table th:nth-child(2){
    text-align: left;
}
.movie-list__table tbody tr{
    background-color: rgb(55,55,55);
    font-size: 2.2rem;
    height: 7.5rem;
    color: rgb(255,255,255);
}
.movie-list__table tbody td a{
    color: rgb(255,255,255);
    text-decoration: none; 
}
.movie-list__table tbody tr:nth-child(even){
	background-color: rgb(75, 77, 79);
}
.movie-list__table tbody tr td:nth-child(1){
    width: calc(23rem - 3.5rem);
    padding-left: 4.5rem;
}
.movie-list__table tr td:nth-child(2),
.movie-list__table tr th:nth-child(2){
    padding-left: 10.5rem;
}
.movie-list__table tbody tr td:nth-child(3){
    width: calc(40rem - 1.5rem);
    padding: 0 5rem;
}
.movie-list__table tbody tr td:nth-child(4){
    width: calc(10rem - 1.5rem);
    padding-left: 0rem;
}
.movie-list-about{
    width: 100%;
    text-align: center;
}
.movie-list-about__text{
    margin-top: 3.7rem;
    display: inline-block;
    /* width: 83rem; */
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(36,36,36);
}
.present{
    position: relative;
    margin-top: 14.5rem;
    height: 70rem;
    width:100%;
    background: url(../img/presentFon.jpg) no-repeat center center / cover;
    background-size: cover;
    text-align: right;
    
    
}
.present__img{
    position: absolute;
    top: -6rem;
    width: 33rem;
    height: 33rem;
    border-radius: 50%;
    background: url(../img/present.png) no-repeat center center / cover;
    box-shadow: 1.05rem 1.8187rem 1.2rem 0rem rgba(35, 31, 32, 0.55);
}
.present__button{
    width: 22rem;
    height: 5.5rem;
    background-color:rgb(144, 210, 61); 
    color: rgb(255,255,255);
    /*position: absolute;*/
    right: 0;
    margin-top: 3.5rem;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    border: 2px solid rgb(144, 210, 61); 
    transition: 0.2s;
    cursor: pointer;
}
.present__button:hover{
    background-color:transparent;
    color: rgb(144, 210, 61); 
}
.present-block{
    padding-top: 14rem;
    /*adding-left: 53.5rem;
    padding-right: 160.6rem;*/
    color: rgb(255,255,255);   
    position: relative;
    width: 66.6rem;
    position: absolute;
    right: 1.5rem;
}
.present-block__text{
    margin-top: 1.7rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.present-block__header{
    font-size: 5rem;
    margin-bottom: 5.1rem;
}

.ordered{
    position: relative;
}

.ordered-header{
    padding-top: 7.2rem;
}
.ordered-header__title{
    font-size: 5rem;
}
.ordered-section{
    margin: 12rem -1.5rem 0 -1.5rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
}
.ordered-section-article{
    width: 33rem;
    display: block;
    /* float: left; */
    overflow: hidden;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.ordered-section__img{
    width: 20rem;
    /* height: 21rem;
    height: 21rem; */

}
.ordered-secttion-img {
    display: flex;
    align-items: flex-end;
    height: 21rem;
    /* flex-flow: column; */
    /* justify-content: end; */
}
.ordered-section__header{
    margin-top: 4rem;
    font-size: 3.5rem;
    display: block;
    text-align: center;
    flex: 1 0;
}
.ordered-section__header-about{
    margin-top: 1rem;
    font-size: 1.4rem;
    display: block;
    text-align: center;
    font-weight: 300;
}
.ordered-welcome{
    position: absolute;
    right: 1.5rem;
    top:-13rem;
    width: 51.7rem;
    height: 26.6rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px 0 rgba(35, 31, 32, 0.65);
    padding: 3rem 3rem;
    z-index: 2;
}
.ordered-welcome__header{
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 2.5rem;
}
.ordered-welcome__text{
    font-size: 1.4rem;
    font-weight: 300;
    padding-bottom: 2.2rem;
    padding-right: 3rem;
}
.movie-poster__div{
    width: 29.6rem;
    height: 29.6rem;  
    position: relative;  
    overflow: hidden;
    border-radius: 1.5rem;
    /* margin-top: 4rem; */
}
.movie-poster__div-link{
    display: block;
    /* width: 29.6rem; */
    min-height: 29.6rem;   
    background-size: 100%;
}
.movie-poster__div-link-img{
    display: block;
    width: 29.6rem;
    height: 29.6rem;
    min-height: 29.6rem;
    background-size: auto auto;
}
/*
.movie-poster__div11 a{
   background: url(../cinimaImg/11.webp) no-repeat center center;  
}*/
.movie-list__table thead img{
    color:rgb(255,255,255);
    width: 2rem;
    margin-left: 1rem;
}
footer{
    height: 22rem; 
    background-color: rgb(144, 210, 61);
}
footer section{
    text-align: center;
    padding-top: 5.8rem;
}
footer section a{
    
    margin-left: 1.3rem;
    box-shadow: rem 1px 1px rem rgba(0, 0, 0, 0.25);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    cursor: pointer;
}
footer section a:first-child{
    margin-left: 0;
}
footer p{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    margin-top: 2.7rem;
    color:rgb(255,255,255);
}
.title{
    background: url(../img/top_bg.jpg) no-repeat top center;
    height: 100vh;
    /* height: 115vh; */

    position: relative;
    background-size: cover;
}
.title header{
    display: inline-block;
    width: 100%;
    padding-top: 2.5rem;
}
.title-logo{
    width: 18.5rem;
    height: 10.5rem;
    
    /* float: left; */
    
}
.title-logo__img{
    background: url(../img/logo.png) no-repeat center center;
    width: 18.8rem;
    height: 10.5rem;
    display: block;
    background-size: contain;
}
.title__city{
    /* float: right; */
    line-height: 10.5rem;
    color: rgb(255,255,255);
    font-size: 1.5rem;
}
.title__nav{
    /* float: left; */
    line-height: 10.5rem;
    margin-left: 7rem;
    font-size: 1.5rem;
    display: flex;
}

.title__nav li+li{
    margin-left: 3.4rem;
}
.title__nav a{
    font-size: 1.5rem;
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.2s;
}
.title__nav a:hover{
    color: rgb(144 210 61)
}
.title__main{
    color: rgb(255,255,255);
    text-align: center;
    padding: 12.2rem 0 25rem;
}
.title:after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    border-left: 100vw transparent solid;
    border-bottom: 12.1rem rgb(255,255,255) solid;
}
.present:before{
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    border-right: 100vw transparent solid;
    border-top: 12rem rgb(255,255,255) solid;
}
.present:after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    border-left: 100vw transparent solid;
    border-bottom: 12rem rgb(255,255,255) solid;
}

.movie-poster__header{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 8.7rem;
}
.movie-poster__text{
    margin-top: 3.2rem;
    font-size: 1.4rem;
    font-weight: 300;
}
.movie-poster__table{
    margin-top: 8rem;
    /*border-collapse: collapse;*/
}
.movie-poster__table td{
    text-align: center;
    /*border: 1px black solid;*/
    
    
}
/* .movie-poster__div{
    display: inline-block;
} */
.movie-poster__div img{
    border-radius: 1.5rem;
}


.movie-poster-div-obout{
    
    background-color: rgba(144, 210, 61, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(255,255,255);
    top:0;
    border-radius: 1.5rem;
    padding-left: 2.2rem;
    transform: translateY(100%);
    transition: 0.5s;
    text-align: left;
   
}
.movie-poster__div:hover .movie-poster-div-obout{
    transform: translateY(0);
   
}


.movie-poster-div-obout__header{
    font-size: 3.5rem;
    font-weight: 800;
    padding-top: 3.4rem;
    color: rgb(255,255,255);
    display: block;
    

}
.movie-poster-div-obout__line{
    background-color: RGB(255,255,255);
    height: .5rem;
    width: 8.3rem;
    margin-top: 1.5rem;
}

.movie-poster-div-obout__text{
    font-size: 1.8rem;
    font-weight: normal;
    padding-top: 1.7rem;
}
.movie-poster-div-obout-array{
    bottom: 2.1rem;
    position: absolute;
    left: 3.2rem;
    padding: 0;
}
.movie-poster-div-obout-array__link{
    display: block;
    float: left;
    margin-right: 0.9rem;
    width: 3rem;
    height: 3rem;

}
.movie-poster-div-obout-array__link-img{
    width: 3rem;
    height: 3rem;    
    box-shadow: rem 1px 1px rem rgba(0, 0, 0, 0.25);
}


.movie-poster__table td{
    text-align: center;
    padding-top: 3.7rem;
}
.movie-poster__table tr:first-child td{    
    padding: 0;
}
.movie-poster__table td:first-child{
      text-align: left;
}
.movie-poster__table td:last-child{
    text-align: right;
}
.map{
    background: url(../img/map.png) no-repeat center center / cover;
    min-height: 45rem;
    width: 100%;
    margin-top: 9.8rem;
}
.title header{
    display: flex;
    justify-content: space-between;
}
.movie-poster-section{
    /* display: flex; 
    margin-top: 4.5rem;
    flex-wrap: wrap;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: 29.6rem 29.6rem 29.6rem ;
    grid-row-gap: 4.1rem;
    grid-column-gap: 4.1rem;
    margin-top: 8.5rem;
    justify-content: space-between;
}

/* .movie-list__table tbody tr, 
.movie-list__table thead tr{
    height: 13rem;
} */
.tz-flex{
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-flow: column;
}

.tz-flex-body{
    flex: 1;
    display: flex;
    border: 1px solid green;
    align-items: flex-end;
    background-color: green;
}
.tz-flex-body__column{
    border: 1px solid blue;
    flex: 0 1 250px;
    height: 300px;
}
.tz-flex-body__column:first-child{
    background-color: yellow;
}
.tz-flex-body__column:nth-child(2){
    flex: 1 ;
    background-color: red;
}
.tz-flex-body__column:last-child{
    background-color: orange;
}
.tz-flex__name{
    display: block;
    background-color: violet;
}
.tz-flex__footer{
    width: 100%;
    height: 30px;
    background-color: grey;
    color: white;
}
.tz-greed-greed{
    border: 1px solid red;
    display: grid;
    grid-template-areas:    'ar1 ar1 ar1 ar1'
                            'ar0 ar2 ar3 ar5'
                            'ar4 ar4 ar4 ar4';
    height: 100vh;
     grid-template-rows: 60px 1fr 50px;
     grid-template-columns: 0 1fr 1fr 0;
     grid-column-gap: 10%;
}

.tz-flex-greed__column-h{
    grid-area: ar1;
    background-color: violet;
}
.tz-flex-greed__column-f{
    grid-area: ar4;
    background-color: grey;
}
.tz-flex-greed__column-c1{
    grid-area: ar2;
    background-color: yellow;

}
.tz-flex-greed__column-c2{
    grid-area: ar3;
    background-color: orange;
}
.tz-greed__name,
.tz-flex__name{
    font-size: 50px;
    font-weight: 800;
}
.tz-greed-greed *{
    font-size: 40px;
}

/* .movie-poster__div:last-child{
    display: none;
}
.movie-poster-section{   
    grid-template-columns: 29.6rem 29.6rem;
} */


.poiner {
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    border-bottom: 15px rgb(255,255,255) solid;
    width: 20px;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -10px;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.hidden{
    display: none;
}
.order-form{
    background: rgb(255,255,255);
    border-radius: 14px;
    box-shadow: 1px 0px 5px rgb(125,125,125);
    box-sizing: border-box;
    height: 360px;
    width: 400px;
    padding: 20px;
    margin: 150px auto;
    position: relative;
}
.close{
    color: red;
    display: block;
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../img/close.svg) no-repeat center center / cover;
}
.popup-eror-message{
    color: #cc0033;
    font-style: 0.9vh;
    /* line-height: 28px; */
    
}
.popup-eror-message{
    display: none;
}
.error{
    position: relative;
}
.error input,
.error select{
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
}

.error .popup-eror-message{
    display: block;
    position: absolute;
    top: 18px;
}
form div{
    padding-top: 10px;
}